@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
    font-size: 36px;
    font-family: "Oswald", sans-serif;
    color: white;
}

.zd-label {
    font-size: 22px;
    text-transform: uppercase;
    color: #f3ba33;
}

strong, .hashtag {
    color: #f3ba33;
    font-weight: bold;
}

.zd-time--positive {
    color: lightcoral;
}

.zd-time--positive:before {
    content: "+";
}

.zd-time--negative {
    color: lightgreen;
}

.zd-time--negative:before {
    content: "-";
}