.zd-player {
    width: 400px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: rgba(0,0,0,.5);
}

.zd-player--warning {
    animation-name: warning;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.zd-player--left:before, .zd-player--right:after {
    position: absolute;
    top: -8px;
    font-weight: bold;
}

.zd-player--left:before {
    content: "〈";
    left: 0px;;
}

.zd-player--right:after {
    content: "〉";
    right: 0px;
}

.zd-player__twitch {
    background: url("../images/Glitch_Purple_RGB.svg") no-repeat left/40px;
    padding-left: 1.25em;
}

.zd-player__youtube {
    background: url("../images/youtube_social_icon_red.png") no-repeat;
    padding-left: 70px;
}

.zd-player__twitter {
    background: url("../images/Twitter_Logo_Blue.svg") no-repeat;
    padding-left: 1.25em;
}

.zd-player__instagram {
    background: left / contain url("../images/instagram.png") no-repeat;
    padding-left: 50px;
}

.zd-player__facebook {
    background: url("../images/flogo_RGB_HEX-72.svg") no-repeat;
    padding-left: 60px;
}

.zd-player__discord {
    background: url("../images/Discord-Logo-Color.svg") no-repeat;
    padding-left: 1.25em;
}

.zd-player__result {
    position: absolute;
    height: 0;
    /*padding: 0px 10px;*/
    overflow: hidden;
    background-color: rgba(0,0,0,.5);
}

.zd-player__result--topleft, .zd-player__result--topright, .zd-player__result--elimination {
    animation: slideabove 1s;
    top: -100%;
    height: 100%;
}

.zd-player__result--bottomleft, .zd-player__result--bottomright {
    animation: slidebelow 1s;
    bottom: -100%;
    height: 100%;
}

.zd-player__result--topright, .zd-player__result--bottomright {
    right: 0%;
}

.zd-player__result--left {
    animation: slideleft 1s;
    left: -160px;
    width: 160px;
    height: 100%;
}

.zd-player__result--right {
    animation: slideright 1s;
    right: -160px;
    width: 160px;
    height: 100%;
}

.zd-spinner {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.zd-spinner__item {
    position: absolute;
    width: 100%;
    height: 100%;
}

.zd-spinner__item--show {
    animation-name: slidein;
    animation-duration: 1s;
}

.zd-spinner__item--hide {
    top: 100%;
    animation-name: slideout;
    animation-duration: 1s;
}

@keyframes slidein {
    from {
        opacity: 0;
        left: 50%;
    }

    to {
        opacity: 1;
        left: 0%;
    }
}

@keyframes slideout {
    from {
        opacity: 1;
        top: 0%;
    }

    to {
        opacity: 0;
        top: 100%;
    }
}

@keyframes slideabove {
    from {
        top: 0%;
        height: 0%;
    }
}

@keyframes slidebelow {
    from {
        bottom: 0%;
        height: 0%;
    }
}

@keyframes slideleft {
    from {
        left: 0%;
        width: 0%;
        height: 100%;
    }
}

@keyframes slideright {
    from {
        right: 0%;
        width: 0%;
        height: 100%;
    }
}

@keyframes expand {
    from {
        transform: scale(1,0);
    }
}

@keyframes warning {
    from {
        text-shadow: 0 0 5px rgba(255,0,0,1), 0 0 5px rgba(255,0,0,1);
        /*background-color: rgba(0,0,0,.5);*/
    }
    to {
        text-shadow: -20px 0 300px rgba(255,0,0,0), 20px 0 300px rgba(255,0,0,0);
        /*background-color: rgba(255,0,0,.5);*/
    }
}