.zd-donations ul {
    list-style-type: none;
    padding: 0;
    max-height: 400px;
    overflow: auto;
}

.zd-donations__donation {
    margin-bottom: 1em;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 2px 3px 6px rgba(0,0,0,.3);
    padding: 5px;
}

.zd-donations__donation > h4 {
    margin: 0;
}

.zd-donations__donation > p {
    margin: 0;
}

.zd-donations__button {
    display: inline-block;
    margin-top: 5px;
    width: 50%;
    text-align: center;
    text-decoration: none;
}