body {
    height: 100%;
}

.md-app {
    height: 100%;
}

.md-app.md-theme-default .md-content {
    background-color: #303030;
    background-color: var(--md-theme-default-background, #303030);
}

/* fix media cover flex direction */
.md-card-media-cover .md-card-header {
    flex-direction: row;
}

/* fix inputs being too wide */
.md-field .md-input, .md-field .md-textarea {
    width: 100%;
}

@media (max-width: 599px) {
    /* fix not always hiding */
    .md-xsmall-hide {
        display: none !important;
    }
}

@media (min-width: 600px) {
    /* add show too because why don't they already have it */
    .md-xsmall-show {
        display: none !important;
    }
}

.md-card {
    width: 320px;
    margin: 4px;
    display: inline-block;
    vertical-align: top;
}

.zd-boxart {
    float: left;
    margin: 0 1em 1em 0;
}

.zd-readonly-field:after {
    background-color: initial !important;
}

.zd-readonly-field-value {
    font-size: 16px;
    line-height: 32px;
}

.zd-text-good {
    color: lightgreen !important;
}

.zd-text-bad {
    color: lightcoral !important;
}

.zd-checkpoint-button {
    width: 200px;
}

.mdl-button--raised:focus:not(:active) {
    background: rgba(158,158,158,.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.mdl-button--fab:focus:not(:active) {
    background: rgba(158,158,158,.2);
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
}

.mdl-card {
    max-width: 100%;
}

.mdl-card__title {
    flex-direction: column;
}

.mdl-card__title-text, .mdl-card__subtitle-text {
    align-self: flex-start;
}

.zd-bingo__button {
    width: 100%;
    margin: 10px 0;
}

.zd-bingo__button--completed {
    background-color: lightgreen !important;
}

.zd-runner--eliminated {
    background-color: lightcoral !important;
}